body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  width: 100%; 
  float: left;
}

h1 {}

h2 {}

p {}

a {}

nav {
  width: 20%;
  float: left;
}

section #content {
  width: 80%;
  float: left;
}

footer {}
